@{
    ViewData["Title"] = "Email Confirmed";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title">Email Confirmed</h1>
                    <p class="card-text">Congratulations! Your email has been successfully confirmed.</p>
                </div>
            </div>
        </div>
    </div>
</div>
